@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}

/* ======================== body ======================== */

body {
  background-color: hsl(0, 0%, 0%);
  color: hsl(0, 0%, 100%);
}

/* ======================== navigation ======================== */

.container {
  padding: 10px 10%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  position: sticky;
  top: 0%;
}

.home {
  color: hsl(0, 0%, 100%);
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

.navbar {
  background-color: hsl(0, 0%, 0%);
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  padding-bottom: 10px;
}

nav ul li a {
  color: hsl(0, 0%, 100%);
  font-weight: bold;
  text-decoration: none;
  font-size: 18px;
  position: relative;
}

nav ul li a::after {
  content: '';
  width: 0%;
  height: 3px;
  background: hsl(300, 94%, 59%);
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.3s;
}

nav ul li a:hover::after {
  width: 100%;
}

.header-text {
  margin-top: 20%;
  font-size: 30px;
}

.header-text h1 {
  font-size: 60px;
  margin-top: 20px;
}



/* ======================== home ======================== */

.logo {
  font-size: 250%;
  width: 140px;
  color: hsl(0, 0%, 100%);
}

span {
  font-size: 200%;
  width: 140px;
  color: hsl(300, 94%, 59%);
}

.message {
  font-size: 400%;
  padding-top: 200px;
  orientation: left;
}

.typed {
  font-size: 150%;
}

#typing-text {
  color: hsl(181, 100%, 50%)
}

#header {
  width: 100%;
  height: 100vh;
  background-image: url(/assets/img/Cy\ Ocean.gif);
  background-size: cover;
  background-position: right center;
}

/* ======================== home (mobile) ======================== */

.mobile_menu {
  display: block;
  width: 35px;
}

/* ======================== skill menu ======================== */



/* ======================== skill menu (mobile) ======================== */



/* ======================== events participation ======================== */



/* ======================== events participation (mobile) ======================== */



/* ======================== projects ======================== */



/* ======================== projects (mobile) ======================== */



/* ======================== contact ======================== */



/* ======================== contact (mobile) ======================== */



/* ======================== footer ======================== */



/* ======================== footer (mobile) ======================== */