@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}

/* ======================== body ======================== */

body{
  background-color: hsl(0, 0%, 0%);
  color: hsl(0, 0%, 100%);
}
/* ======================== header ======================== */

#header{
  width: 100%;
  height: 100vh;
  background-image: url(/assets/img/darker.jpg);
  background-size: cover;
  background-position: center;
}

/* ======================== navigation ======================== */

.container{
  padding: 10px 10%;
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo{
  padding-left: 3%;
  font-size: 300%;
  width: 140px;
}

span{
  color: hsl(194, 100%, 50%);
}
 nav ul li{
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
 }

.navbar{
  background-color: hsl(0, 0%, 0%);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

nav ul li a{
  color: hsl(0, 0%, 100%);
  text-decoration: none;
  font-size: 18px;
  position: relative;
}

nav ul li a::after{
  content: '';
  width: 0%;
  height: 3px;
  background: hsl(194, 100%, 50%);
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}
nav ul li a:hover::after{
  width: 100%;
}

.header-text{
  margin-top: 20%;
  font-size: 30px;
}

.header-text h1{
  font-size: 60px;
  margin-top: 20px;
}

.header-text h1 span{
  color: hsl(194, 100%, 50%);
}

/* ======================== about ======================== */

#about{
  padding: 80% 0;
  color: hsl(0, 0%, 100%);
}

.row{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-col-1{
  flex-basis: 35%;
}

.about-col-1 img{
  width: 100%;
  border-top: 15px;
  grid-template: none(auto-fit, minmax(250px, 1fr));
  border-radius: 15px;
}

.card{
  background-color: hsl(0, 0%, 6%);
  transition: 0.3s;
  border-radius: 15px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 hsl(194, 88%, 47%);
}

#container {
  padding: 2px 16px;
}

.about-col-2{
  flex-basis: 60%;
}

.sub-title{
  font-size: 60px;
  font-weight: 600;
  color: hsl(0, 0%, 100%);
}

.tab-titles{
  display: flex;
  margin: 20px 0 40px;
}

.tab-links{
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}

.tab-links::after{
  content: '';
  width: 0;
  height: 3px;
  background: hsl(194, 100%, 50%);
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}

.tab-links.active-link::after{
  width: 50%;  
}

.tab-contents ul li{
  list-style: none;
  margin: 10px 0;
}

.tab-contents ul li span{
  color: hsl(184, 100%, 59%);
  font-size: 18px;
  font-weight: 500;
}

.tab-contents{
  display: none;
}

.tab-contents.active-tab{
  display: block;
  
}

/* Services */

#services{
  padding: 30px 0;
}

.services-list{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
  
}

.services-list div{
  background: hsl(0, 0%, 15%);
  padding: 40px;
  font-size: 13px;
  font-weight: 300;
  border-radius: 10px;
  transition: background 0.5s, transform 0.5s;
}

.services-list div i{
  font-size: 50px;
  margin-bottom: 30px;

}

.services-list div h2{
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}

.services-list div a{
  text-decoration: none;
  color: hsl(0, 0%, 100%);
  font-size: 12px;
  margin-top: 20px;
  display: inline-block;
}

.services-list div:hover{
  background: hsl(209, 100%, 43%);
  transform: translateY(-10px);
}

/* History */

#history{
  padding: 50px 0;
}

.mdl-1{
  display: inline-block;
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
}

.mdl-2{
  display: inline-block;
  padding: 5px 10px;
  background-color: #018f54;
  color: #fff;
  text-decoration: none;
}

.mdl-3{
  display: inline-block;
  padding: 5px 10px;
  background-color: #018f88;
  color: #fff;
  text-decoration: none;
}

/* Skills */



/* Certifications */



/* Contact */

